<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Information Form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <h1>User Information Form</h1>
    <form action = "result">
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="gender">Gender</label>
          <select class="form-control" id="gender" name ="n1" required>
            <option value="">Select Gender</option>
            <option value="12">Male</option>
            <option value="13">Female</option>

          </select>
        </div>
        <div class="col-md-6 mb-3">
          <label for="ethnicity">Ethnicity</label>
<!--          <input type="text" class="form-control" id="ethnicity" name="n2" placeholder="Ethnicity" required>-->
          <select class="form-control" id="ethnicity" name ="n2" placeholder="Ethnicity"required>
            <option value="">Select Ethinicity</option>
            <option value="10">Asian</option>
            <option value="20">Caucasian</option>
            <option value="30">African</option>

            <option value="40">Hispanic</option>

          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="maritalStatus">Marital Status</label>
          <select class="form-control" id="maritalStatus" name="n3" required>
            <option value="">Select Marital Status</option>
            <option value="41">Married</option>
            <option value="42">Divorced</option>
            <option value="43">Single</option>

          </select>
        </div>
        <div class="col-md-6 mb-3">
          <label for="education">Education</label>
<!--          <input type="text" class="form-control" id="education" name="n4" placeholder="Education" required>-->
          <select class="form-control" id="education" name="n4" placeholder="Education"required>
            <option value="">Select college degree</option>
            <option value="51">College Degree</option>
            <option value="52">Graduate Degree</option>
            <option value="53">Some College</option>
            <option value="54">High School</option>

          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="previousDiagnosis">Previous Diagnosis</label>
<!--          <input type="text" class="form-control" id="previousDiagnosis" name ="n5" placeholder="Previous Diagnosis" required>-->
         <select class="form-control" id="previousDiagnosis" name="n5" placeholder="Previous Diagnosis"required>
            <option value="">Select Previous Diagnosis</option>
            <option value="61">MDD</option>
            <option value="62">GAD</option>
            <option value="63">PTSD</option>
            <option value="64">Panic Disorder</option>
           <option value="0">None</option>

          </select>
        </div>
<!--        <div class="col-md-6 mb-3">-->
<!--          <label for="familyOCD">Family History of OCD</label>-->
<!--          <input type="text" class="form-control" id="familyOCD" name="n6" placeholder="Family History of OCD" required>-->
<!--        </div>-->
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="obsessionType">Obsession Type</label>
          <select class="form-control" id="obsessionType" name = "n6" required>
            <option value="">Select Obsession Type</option>
            <option value="71">Contamination</option>
            <option value="72">Symmetry</option>
            <option value="73">Religious</option>
            <option value="74">Hoarding</option>
            <option value="75">Harm related</option>
<!--            <option value="">84</option>-->
<!--            <option value="">85</option>-->
          </select>
        </div>
        <div class="col-md-6 mb-3">
          <label for="compulsionType">Compulsion Type</label>
<!--          <input type="text" class="form-control" id="compulsionType" name="n8" placeholder="Compulsion Type" required>-->
         <select class="form-control" id="compulsionType" name = "n7" required>
            <option value="">Select Compulsion Type</option>
            <option value="81">Counting</option>
            <option value="82">Ordering</option>
            <option value="83">Praying</option>
            <option value="84">washing</option>
            <option value="85">Checking</option>
<!--            <option value="">84</option>-->
<!--            <option value="">85</option>-->
          </select>
        </div>
      </div>
      <div class="form-row">
<!--        <div class="col-md-6 mb-3">-->
<!--          <label for="depressionDiagnosis">Depression Diagnosis</label>-->
<!--          <input type="text" class="form-control" id="depressionDiagnosis" name="n9" placeholder="Depression Diagnosis" required>-->
<!--        </div>-->
<!--        <div class="col-md-6 mb-3">-->
<!--          <label for="anxietyDiagnosis">Anxiety Diagnosis</label>-->
<!--          <input type="text" class="form-control" id="anxietyDiagnosis" name="n10" placeholder="Anxiety Diagnosis" required>-->
<!--        </div>-->
      </div>
      <input type="submit">
    </form>
      Result: {{result2}}
  </div>
</body>
</html>
